<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <a style="font-size:30px">
        hello world
    </a>
</div>
<h1>第１階層</h1>
<p>bodyセクション。</p>
<article>
    <h2>第２階層</h2>
    <p>記事セクション。</p>
    <section>
        <h3>第３階層の１つ目のセクション</h3>
        <p>section要素内のp要素。</p>
        <p>...</p>
    </section>
    <section>
        <h3>第３階層の２つ目のセクション</h3>
        <p>section要素内のp要素。</p>
        <p>...</p>
    </section>
</article>

